<div class="row">
  <div class="col-sm-3 sidenav">
    <%= render "shared/sidenav" %>
  </div>

  <div class="col-sm-8">
    <h3 class="text-muted">Create a new application</h3>
    <hr>

    <ol class="breadcrumb">
      <li><%= link_to "Applications List ", oauth_applications_path %></a></li>
      <li class="active">Create New App</li>
    </ol>
    <hr>

    <%= render 'form', application: @application %>
  </div>
</div>
