<div class=" container-fluid col-sm-6">
  <div class="height-controller">
    <div class="container-fluid col-sm-3">
      <br>
      <img src=<%= image_path "#{path}" %>>
    </div>

    <div class="container-fluid col-sm-9">
      <h4><%= title %></h4>
      <p class="text-muted"><%= description %></p>
      <br>
    </div>
  </div>
</div>
