<% content_for :body_class, "body-background" %>

<% @application.each do |app| %>
    <div class="col-sm-2">
      <div class="icon-container">
        <%= link_to app.homepage do %>
            <%= image_tag app.picture.url if app.picture? %>
            <h5 style="color: #0f0f0f"><%= app.name %></h5>
        <% end %>
      </div>
    </div>

<% end %>

