// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.height-controller {
  height: 120px !important;
}

.icon-container {
  height: 100px !important;
  width: 100px !important;
  text-align: center;
}

