<div class="navbar navbar-fixed-bottom">

  <footer class="container-fluid">
    <p>University of Chinese Academy of Sciences Copyright © 2012 UCAS Address:  No.19A Yuquan Road, Beijing 100049, China
    </p>
  </footer>
</div>
